project:
  title: "Manuscript"
  output-dir: "output"
  
  render: 
    - "manuscript.qmd"
  
language:
  title-block-published: Latest version
  related-formats-title: Other formats

format:
  # Nice HTML output
  html:
    toc: true
    toc-depth: 3
    include-in-header:
      - text: |
          <style type="text/css">
          h2.hide {
            display: none;
          }
          </style>
    theme: 
      - zephyr
      - html/custom.scss
    shift-heading-level-by: 1
    
    citeproc: false
    filters: 
      - at: pre-quarto
        path: _extensions/andrewheiss/wordcount/citeproc.lua
      - at: pre-quarto
        path: _extensions/andrewheiss/wordcount/wordcount.lua
        
    format-links:
      - html
      - format: hikmah-pdf
        text: PDF
        icon: file-pdf
    knitr:
      opts_chunk:
        dev: "ragg_png"
        dpi: 300
  
  # PDF format    
  hikmah-pdf:
    cite-method: citeproc
    appendix-single-spacing: false
    
    # Custom fonts
    mainfont: "Linux Libertine O"
    mainfontoptions:
      - "Numbers=Proportional"
      - "Numbers=OldStyle"
    # sansfont: "Libre Franklin"
    # mathfont: "Libertinus Math"
    
    include-in-header:
      # The \everydisplay thing makes all math blocks use \small font
      text: |
        \usepackage{mathtools}
        \everydisplay\expandafter{\the\everydisplay\small }

        \SetTblrStyle{foot}{font=\footnotesize}

    knitr:
      opts_chunk:
        dev: "cairo_pdf"
    