@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:defaults --*/
$font-family-sans-serif:      Roboto, sans-serif !default;

/*-- scss:rules --*/

#title-block-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

thead th {
  text-transform: none;
}

tfoot {
  text-align: left;
}

.MathJax, .MathJax_Display {
  font-size: 100% !important;
}
